/*
mobile m 320-375
mobile l 376 - 425
tablet 425 - 768
small screen 769 - 1024
large screen 1025 - 1200 
*/

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html {
  margin-top: var(--header-height);
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* end reset */

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

.hover-area {
  cursor: pointer;
}
/* hide carousel items on init */
.carousel-item {
  display: none;
}
